<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!--<section name="defaultAspects" type="Value.Framework.Aspectacular.DefaultAspectsConfigSection, Value.Framework.Aspectacular" />-->
  </configSections>

  <!--<defaultAspects>
    <aspects>
      <add type="Value.Framework.Aspectacular.Aspects.TraceOutputAspect, Value.Framework.Aspectacular" />
    </aspects>
  </defaultAspects>-->

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
